.headerBtnA {
  padding: 4px 16px;
  cursor: pointer;
  border: solid 1px gold;
  border-radius: 10px 10px 0px 0px;
  color: white;
  /* transition: background-color 0.1s; */
  text-decoration: none
}

.headerBtnA:hover,
.headerBtnA.selected {
  background-color: goldenrod;
  color: black;
}