.carousel-h2 {
  background-color: rgb(255, 255, 255, 0.5);
}

.carousel-img {
  width: 100%
}

.carousel-caption {
  text-align: center;
  top: 80%;
}

/* TABLET */
@media screen and (max-width: 800px) {
  .carousel-h2 {
    font-size: 18px;
  }

  .carousel-caption {
    text-align: center;
    top: 78%;
  }

}


/* MOBILE */
@media screen and (max-width: 600px) {
  .carousel-h2 {
    font-size: 11px;
  }
}

/* MOBILE SMALL*/
@media screen and (max-width: 350px) {
  .carousel-h2 {
    font-size: 10px;
  }
  .carousel-caption {
    top: 70%;
  }

}